.cover__subtitle {
    font-weight: normal;
    margin: 0 auto;
    font-size: 18px;
    max-width: 360px;
    line-height: 22px;
    text-align: center;
    color: #fff;
    z-index: 5;
}

@media screen and (max-width: 767px) {
    .cover__subtitle {
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
         max-width: 288px;
    }
}