.footer__links {
  display: flex;
}

@media screen and (max-width: 767px) {
  .footer__links {
      flex-direction: column;
      justify-content: flex-start;
      max-width: 186px;
      align-self: flex-start;
      margin-bottom: 48px;
  }
}