.cover__overlay {
    display: flex;
    text-decoration: none;
    min-height: 740px;
    max-width: 1184px;
    background: url('../../../images/cover-trains.jpg');
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center center;
    position: relative;
    color: #ffffff;
}

.cover__overlay:before {
    content: "";
    background: black;
    position: absolute;
    height: 100%;
    opacity: 0.3;
    width: 100%;
    background-size: contain;
}

@media screen and (max-width: 767px) {
    .cover__overlay {
          min-height: 200px;
    }
  }