.place__website {
    align-self: end;
    margin: 0px;
    grid-row: 1;
    grid-column: 2;
}

@media screen and (max-width: 767px) {
    .place__website {
        align-self: start;
        grid-column: 1;
        grid-row: 2;
        margin-left: 16px;
    }
}